numpy==1.24.2
pandas
matplotlib
seaborn 
scipy
scikit-learn
xgboost
keras
umap-learn
babyplots
tensorflow
pyclustering
optuna
catboost
mlflow
category_encoders
lightgbm
geopy
tqdm
psycopg2-binary
boto3
python-multipart
google-cloud-storage